/*Desktop*/
body{
    width: 1440px;
    height: 1895px;
}

#logo {
    position: absolute;
    width: 119px;
    height: 28px;
    left: 661px;
    top: 80px;
}

.first-box {
    position: absolute;
    width: 1504px;
    height: 358px;
    top: 215px;
    left: -32px;
}

.first-mid-box {
    position: absolute;
    width: 540px;
    height: 304px;
    left: 485px;
    bottom: 25px;
}

.first-heading {
    position: absolute;
    width: 445px;
    height: 128px;
    left: 45px;
    top: -20px;
    font-family: 'Red Hat Display', san-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #28283D;
}

.description {
   position: absolute;
   width: 540px;
   height: 52px;
   left: 5px;
   top: 160px;
   font-family: 'Red Hat Display', san-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 26px;
   text-align: center;
   color: #87879D;
}

.btn-group {
    position: relative;
    width: 348px;
    height: 58px;
    top: 240px;
    left: 100px;
}

.first-download-btn {
    position: relative;
    width: 193px;
    height: 58px;
    top: 0px;
    border-radius: 29px;
    background-color: #4D96A9;
    border-color: transparent;
}

.first-download-btn:hover {
    background-color: #71C0D4;
}

.white-color {
    position: relative;
    height: 26px;
    width: 79px;
    left: 20.73%;
    right: 38.34%;
    top: calc(50% - 26px/2);
    font-family: 'Red Hat Display', san-serif;
    font-style: normal;
    font-weight: 900;
    font-weight: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.blue-color {
    position: relative;
    height: 26px;
    left: 24.73%;
    right: 20.73%;
    bottom: 13px;
    font-family: 'Red Hat Display', san-serif;
    font-style: normal;
    font-weight: 900;
    font-weight: 16px;
    line-height: 26px;
    color: #8FE3F9;
}

.second-btn {
    position: relative;
    width: 139px;
    height: 58px;
    border-radius: 29px;
    background-color: #855FB1;
    top: 13px;
    left: 5%;
    border-color: transparent;
}

.second-btn:hover {
    background-color: #B18BDD;
}

.white-again {
    position: relative;
    height: 26px;
    font-family: 'Red Hat Display', san-serif;
    font-style: normal;
    font-weight: 900;
    font-weight: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

#left-image {
    position: relative;
    width: 30%;
    height: 345px;
    right: 15px;
}

#right-image {
    position: relative;
    width: 30%;
    height: 345px;
    left: 41.5%;
}

.number-one {
    position: relative;
    width: 56px;
    height: 140px;
    top: 500px;
    left: 47%;
}

.path {
    position: relative;
    width: 1px;
    height: 84px;
    top: -0px;
    left: 27px;
    mix-blend-mode: normal;
    opacity: 0.25;
    border-width: 1px;
    border-style: solid;
    border-color: #87879D;
     
}

.number-circle {
    position: relative;
    width: 56px;
    height: 56px;
    right: 27.5px;
    top: 80px;
    border-radius: 29px;
    background: #FAFAFA;
}

.border-box {
    box-sizing: border-box;
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FAFAFA;
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 29px;
}

#number {
    position: relative;
    height: 26px;
    left: 33.93%;
    right: 33.93%;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #87879D;
}

.photo-group {
    position: relative;
    width: 1110px;
    height: 242px;
    left: 6.5%;
    top: 600px;
}

.woman-videocall-photo {
    position: relative;
    width: 255px;
    height: 242px;
}

.women-videochatting-photo {
    position: relative;
    width: 255px;
    height: 242px;
    left: 25px;
}

.men-meeting-photo {
    position: relative;
    width: 255px;
    height: 242px;
    left: 50px;
}

.man-texting-photo {
    position: relative;
    width: 255px;
    height: 242px;
    left: 80px;
}

.second-box {
    position: relative;
    width: 540px;
    height: 240px;
    top: 700px;
    left: 28.7%;
}

#overline {
    position: relative;
    height: 26px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4D96A9;
    text-align: center;
}

.heading-2 {
    position: relative;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #28283D;
    bottom: 25px;
}

.second-mid-box {
    position: relative;
    width: 445px;
    height: 88px;
    left: 40px;
}

.second-description {
    position: relative;
    bottom: 20px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #87879D;
}

.number-two {
    position: relative;
    width: 56px;
    height: 140px;
    top: 800px;
    left: 47%;
    z-index: 2;
}

#footer {
    position: relative;
    width: 100%;
    height: 308px;
    top: 770px;
    background-color: #4D96A9;
    z-index: 1;
}

.image-footer {
    opacity: 0.1;
    z-index: 1;
}

.footer-mid-box {
    position: relative;
    width: 1110px;
    height: 88px;
    left: 6.5%;
    bottom: 200px;
}

.footer-first-mid {
    position: relative;
    width: 350px;
    height: 88px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    color: #FAFAFA;
}

.footer-second-mid {
    position: relative;
    width: 350px;
    height: 78px;
    left: 40%;
    bottom: 85px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FAFAFA;
}

.second-download-btn {
    position: relative;
    width: 193px;
    height: 58px;
    left: 80%;
    bottom: 150px;
    border-radius: 29px;
    background-color: #855FB1;
    border-color: transparent;
}

.second-download-btn:hover {
    background-color: #B18BDD;
}

.purple-color {
    position: relative;
    height: 26px;
    left: 24.73%;
    right: 20.73%;
    bottom: 13px;
    font-family: 'Red Hat Display', san-serif;
    font-style: normal;
    font-weight: 900;
    font-weight: 16px;
    line-height: 26px;
    color: #D9B8FF;
}
