/*Desktop*/
body{
    width: 1440px;
    height: auto;
    background: #F2F2F2;
    margin: 0px 0px 0px -32px;
}

#logo {
    position: absolute;
    width: 119px;
    height: 28px;
    left: 661px;
    top: 80px;
}

.first-box {
    position: absolute;
    width: 1504px;
    height: 358px;
    top: 215px;
    left: -32px;
    overflow: hidden;
}

.first-mid-box {
    position: absolute;
    width: 540px;
    height: 304px;
    left: 485px;
    bottom: 25px;
}

.first-heading {
    position: absolute;
    width: 445px;
    height: 128px;
    left: 45px;
    top: -20px;
    font-family: 'Red Hat Display', san-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #28283D;
}

.description {
   position: absolute;
   width: 540px;
   height: 52px;
   left: 5px;
   top: 160px;
   font-family: 'Red Hat Display', san-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 26px;
   text-align: center;
   color: #87879D;
}

.btn-group {
    position: absolute;
    width: 348px;
    height: 58px;
    top: 240px;
    left: 100px;
}

.first-download-btn {
    position: relative;
    width: 193px;
    height: 58px;
    top: 0px;
    border-radius: 29px;
    background-color: #4D96A9;
    border-color: transparent;
}

.first-download-btn:hover {
    background-color: #71C0D4;
    cursor: pointer;
}

.white-color {
    position: relative;
    height: 26px;
    width: 79px;
    left: 20.73%;
    right: 38.34%;
    top: 13px;
    font-family: 'Red Hat Display', san-serif;
    font-style: normal;
    font-weight: 900;
    font-weight: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.blue-color {
    position: relative;
    height: 26px;
    left: 24.73%;
    right: 20.73%;
    bottom: 13px;
    font-family: 'Red Hat Display', san-serif;
    font-style: normal;
    font-weight: 900;
    font-weight: 16px;
    line-height: 26px;
    color: #8FE3F9;
}

.second-btn {
    position: relative;
    width: 139px;
    height: 58px;
    border-radius: 29px;
    background-color: #855FB1;
    top: 13px;
    left: 5%;
    border-color: transparent;
}

.second-btn:hover {
    background-color: #B18BDD;
    cursor: pointer;
}

.white-again {
    position: relative;
    height: 26px;
    font-family: 'Red Hat Display', san-serif;
    font-style: normal;
    font-weight: 900;
    font-weight: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

#left-image {
    position: relative;
    width: 30%;
    height: 345px;
    right: 15px;
}

#right-image {
    position: relative;
    width: 30%;
    height: 345px;
    left: 41.5%;
}

#tablet-image-hero{
    display: none;
}

.number-one {
    position: absolute;
    width: 56px;
    height: 140px;
    left: 692px;
    top: 650px;
}

.path {
    position: relative;
    width: 1px;
    height: 84px;
    top: -0px;
    left: 27px;
    mix-blend-mode: normal;
    opacity: 0.25;
    border-width: 1px;
    border-style: solid;
    border-color: #87879D;
     
}

.number-circle {
    position: relative;
    width: 56px;
    height: 56px;
    right: 27.5px;
    top: 80px;
    border-radius: 29px;
    background: #FAFAFA;
}

.border-box {
    box-sizing: border-box;
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #fff;
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 29px;
    border-color: #87879D;
}

#number {
    position: relative;
    height: 26px;
    left: 33.93%;
    right: 33.93%;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #87879D;
}

.photo-group {
    position: absolute;
    width: 1110px;
    height: 242px;
    left: 14%;
    top: 850px;
}

.woman-videocall-photo {
    position: relative;
    width: 255px;
    height: 242px;
    border-radius: 8px;
}

.women-videochatting-photo {
    position: relative;
    width: 255px;
    height: 242px;
    left: 25px;
    border-radius: 8px;
}

.men-meeting-photo {
    position: relative;
    width: 255px;
    height: 242px;
    left: 50px;
    border-radius: 8px;
}

.man-texting-photo {
    position: relative;
    width: 255px;
    height: 242px;
    left: 80px;
    border-radius: 8px;
}

.second-box {
    position: absolute;
    width: 540px;
    height: 240px;
    top: 1163px;
    left: 450px;
}

#overline {
    position: relative;
    height: 26px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4D96A9;
    text-align: center;
}

.heading-2 {
    position: relative;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #28283D;
    bottom: 25px;
}

.second-mid-box {
    position: relative;
    width: 445px;
    height: 88px;
    left: 40px;
}

.second-description {
    position: relative;
    bottom: 20px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #87879D;
}

.number-two {
    position: relative;
    width: 56px;
    height: 140px;
    top: 1530px;
    left: 722px;
    z-index: 1;
    background: #F2F2F2;
    border-radius: 29px;
}

#footer {
    position: relative;
    width: 1504px;
    height: 308px;
    top: 1500px;
    background-color: #4D96A9;
    overflow: hidden;
}

.image-footer {
    position: relative;
    width: 1504px;
    height: 308px;
    opacity: 0.1;
}

.tablet-image-footer{
    display: none;
}

.mobile-image-footer{
    display: none;
}

.footer-mid-box {
    position: absolute;
    width: 1110px;
    height: 88px;
    left: 11.5%;
    top: 110px;
}

.footer-first-mid {
    position: relative;
    width: 350px;
    height: 88px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    color: #FAFAFA;
}

.footer-second-mid {
    position: relative;
    width: 350px;
    height: 78px;
    left: 40%;
    bottom: 85px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FAFAFA;
}

.second-download-btn {
    position: relative;
    width: 193px;
    height: 58px;
    left: 80%;
    bottom: 150px;
    border-radius: 29px;
    background-color: #855FB1;
    border-color: transparent;
}

.second-download-btn:hover {
    background-color: #B18BDD;
    cursor: pointer;
}

.purple-color {
    position: relative;
    height: 26px;
    left: 24.73%;
    right: 20.73%;
    bottom: 13px;
    font-family: 'Red Hat Display', san-serif;
    font-style: normal;
    font-weight: 900;
    font-weight: 16px;
    line-height: 26px;
    color: #D9B8FF;
}

/*Tablet*/
@media screen and (min-width:768px) and (max-width: 820px) {
    body{
        width: 100%;
        overflow-x: hidden;
    }
    #logo {
        position: absolute;
        left: 570px;
    }
    .first-box {
        position: absolute;
        width: 100%;
        height: 303px;
        left: 0px;
    }
    #right-image {
        display: none;
        position: absolute;
        width: 600px;
        height: 303px;
        left: 600px;
    }
    #left-image {
        display: none;
        position: absolute;
        width: 600px;
        height: 303px;
        left: -30px;
    }
    #tablet-image-hero {
        display: block;
        width: 1242px;
        height: 303px;
    }
    .first-mid-box {
        position: absolute;
        width: 457px;
        height: 262px;
        left: 360px;
        top: 365px;
    }
    .first-heading{
        position: absolute;
        left: 65px;
    }
    .number-one {
        position: absolute;
        left: 600px;
        top: 957px;
    }
    .photo-group {
        position: absolute;
        width: 889px;
        height: 156px;
        top: 1164px;
        left: 165px;
    }
    .woman-videocall-photo {
        width: 215px;
        height: 156px;
    }
    .women-videochatting-photo {
        width: 215px;
        height: 156px;
        left: 16px;
    }
    .men-meeting-photo {
        width: 215px;
        height: 156px;
        left: 32px;
    }
    .man-texting-photo {
        width: 215px;
        height: 156px;
        left: 48px;
    }
    .second-box {
        position: absolute;
        width: 573px;
        height: 240px;
        left: 360px;
        top: 1368px;
    }
    .second-mid-box {
        position: relative;
        left: 65px;
    }
    .number-two{
        position: relative;
        top: 1700px;
        left: 600px;
    }
    #footer {
        position: relative;
        width: 1242px;
        height: 428px;
        top: 1810px;
    }
    .image-footer {
        display: none;
        position: absolute;
        width: 1200px;
        height: 428px;
    }
    .tablet-image-footer {
        display: block;
        opacity: 0.25;
        width: 1242px;
        height: 428px;
    }
    .mobile-image-footer{
        display: none;
    }
    .footer-first-mid {
        position: relative;
        width: 457px;
        height: 88px;
        left: 260px;
        bottom: 40px;
        text-align: center;
    }
    .footer-second-mid {
        position: relative;
        width: 573px;
        height: 52px;
        top: 0px;
        left: 205px;
        text-align: center;
    }
    .second-download-btn {
        position: relative;
        top: 40px;
        left: 400px;
    }
}

/*mobile*/
@media only screen and (min-width:320px) and (max-width:426px) {
    body {
        width: 100%;
    }
    #logo {
        position: absolute;
        left: 128px;
        /*overflow-x: hidden;*/
    }
    #right-image {
        display: none;
        position: absolute;
        width: 199px;
        height: 153px;
        left: 215px;
    }
    #left-image {
        display: none;
        position: absolute;
        width: 199px;
        height: 153px;
        left: -5px;
    }
    #tablet-image-hero {
        display: block;
        position: relative;
        width: 384px;
        height: 153px;
        left: 45px;
        top: 0px;
    }
    .first-box {
        position: relative;
        width: 414px;
        height: 600px;
        overflow-x: hidden;
    }

    .first-mid-box{
        position: absolute;
        width: 327px;
        height: 388px;
        left: 77px;
        top: 211px;
    }
    .first-heading {
        position: relative;
        width: 327px;
        left: 0px;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }
    .description {
        position: absolute;
        width: 327px;
        font-size: 16px;
        line-height: 26px;
        height: 78px;
        top: 110px;
        left: 0px;
    }
    .first-download-btn {
        position: relative;
        left: 15px;
    }
    .btn-group {
        position: relative;
        top: 50px;
        left: 55px;
    }
    .second-btn {
        position: relative;
        top: 100px;
        left: -150px;
    }
    .number-one {
        position: absolute;
        left: 610px;
        top: 1150px;
    }
    .photo-group {
        position: absolute;
        width: 327px;
        height: 310px;
        left: 100px;
        top: 1400px;
    }
    .woman-videocall-photo {
        width: 151px;
        height: 143px;
        left: 70px;
    }
    .women-videochatting-photo {
        width: 151px;
        height: 143px;
        left: 115px;
    }
    .men-meeting-photo {
        width: 151px;
        height: 143px;
        left: 70px;
        top: 40px;
    }
    .man-texting-photo {
        width: 151px;
        height: 143px;
        left: 115px;
        top: 40px;
    }
    .second-box {
        position: absolute;
        width: 527px;
        height: 284px;
        left: 380px;
        top: 2050px;
    }
    .second-mid-box {
        position: relative;
        width: 397px;
        height: 72px;
        top: 10px;
        text-align: center;
    }
    .heading-2 {
        position: relative;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        left: 30px;
        text-align: center;
    }
    .second-description {
        position: relative;
        width: 325px;
        height: 130px;
        left: 100px;
        top: 5px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        text-align: center;
    }
    .number-two {
        position: absolute;
        top: 2500px;
        left: 610px;
    }
    #footer {
        position: relative;
        width: 425px;
        height: 428px;
        top: 2610px;
    }
    .image-footer {
        display: none;
        position: absolute;
        width: 375px;
        height: 428px;
    }
    .tablet-image-footer{
        display: none;
    }
    .mobile-image-footer {
        display: block;
        width: 425px;
        height: 428px;
        opacity: 0.25;
    }
    .footer-first-mid {
        position: relative;
        width: 357px;
        height: 72px;
        left: 320px;
        bottom: 30px;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    }
    .footer-second-mid {
        position: relative;
        width: 327px;
        height: 78px;
        left: 340px;
        top: 20px;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
    }
    .second-download-btn {
        position: relative;
        left: 395px;
        top: 60px;
    }
}

